@model IEnumerable<SGATCC.Areas.Coordenador.Models.Turma>

@{
    ViewData["Title"] = "Lista de Turmas";
}

<h1>Lista de Turmas</h1>

<p>
    <a asp-action="Create"class="btn btn-success">Cadastrar nova Turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurmaId" class="btn btn-success btn-sm">Alterar</a> &nbsp;
                <a asp-action="Details" asp-route-id="@item.TurmaId" class="btn btn-primary btn-sm">Detalhes</a> &nbsp;
                <a asp-action="Delete" asp-route-id="@item.TurmaId" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
